* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
#contents {
   position: relative;
   width: 800px;
   height: 500px;
   margin: 0 auto;
   background-color: skyblue;
}

h1 {
   position: absolute; /* #contents 부모태그를 기준으로 이동*/
   top: 250px;
   right: 100px;
   color: #fff;
   text-shadow: 2px 3px 0 black;
   padding: 40px;
   font-size: 100px;
}
